.apps-page{
  padding:40px;
  max-width:900px;
  margin:auto;
}

.app-card{
  background:#fff;
  padding:20px;
  border-radius:12px;
  margin-bottom:15px;
  box-shadow:0 5px 15px rgba(0,0,0,.1);
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.status{
  background:#22c55e;
  color:#fff;
  padding:5px 10px;
  border-radius:8px;
}
