.services-page {
  min-height: 100vh;
  padding: 60px 40px;

  background: linear-gradient(135deg,#4f46e5,#9333ea);

  color: white;
}

/* header */
.services-header {
  text-align: center;
  margin-bottom: 50px;
}

.services-header h1 {
  font-size: 40px;
  font-weight: bold;
}

.services-header p {
  opacity: 0.9;
  margin-top: 10px;
}

/* grid */
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

/* card */
.service-card {
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(16px);

  padding: 30px;
  border-radius: 18px;

  text-align: center;

  transition: 0.3s;
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}

.service-card:hover {
  transform: translateY(-8px);
  background: rgba(255,255,255,0.18);
}

/* icon */
.icon {
  margin-bottom: 15px;
}

/* title */
.service-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* desc */
.service-card p {
  font-size: 14px;
  opacity: 0.9;
  margin-bottom: 18px;
}

/* button */
.service-card button {
  padding: 8px 18px;
  border: none;
  border-radius: 8px;

  background: white;
  color: #4f46e5;

  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.service-card button:hover {
  background: #e5e7eb;
}
